<nav>
    <div class="brand">
        <img src="https://www.dummyimage.com/32x32/000/fff" />
        <strong>Therum</strong>
    </div>
    <div class="menu">
        <a href=""><span class="nf-md-view_dashboard" style="font-size: 24px;">󰕮 </span>Dashboard</a>
        <a href=""><span class="nf-fae-tools" style="font-size: 24px;"> </span>Builder</a>
        <a href=""><span class="nf-fa-users_gear" style="font-size: 24px;"> </span>Users</a>
    </div>
    <div class="menu">
        <a href=""><span class="nf-fa-bell" style="font-size: 24px;"> </span></a>
        <a href=""><span class="nf-fa-gear" style="font-size: 24px;"> </span></a>
        <a href=""><span class="nf-md-exit_run" style="font-size: 24px">󰩈 </span></a>
    </div>
</nav>
