{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block contents %}
<div class="container">
    <div class="world">
        <div id="vmap"></div>
    </div>
    <div class="status">
        <div class="status-box">
            <div class="box">
                <p><span class="nf-md-robot_angry" style="font-size: 24px;">󱚝 </span>AGENTS</p>
                <p>10</p>
            </div>
            <div class="box">
                <p><span class="nf-fa-users" style="font-size: 24px;"> </span>USERS</p>
                <p>10</p>
            </div>
            <div class="box">
                <p><span class="nf-md-connection" style="font-size: 24px;">󱘖 </span>AGENT ONLINE</p>
                <p>10</p>
            </div>
        </div>
        <div class="activity">
            <div class="over">
                <table class="table-act">
                    <thead>
                        <tr>
                            <th>Agent activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[*] Server started at 20-20-2020</td> 
                        </tr> 
                        <tr>
                            <td>[+] Agent [ID] has been added on database</td> 
                        </tr>
                        <tr>
                            <td>[-] Agent [ID] has been remove on database</td> 
                        </tr>
                        <tr>
                            <td>[!] Agent [ID] has been disconnected from server</td> 
                        </tr> 
                        <tr>
                            <td>[-] Agent [ID] has been remove on database</td> 
                        </tr>
                        <tr>
                            <td>[!] Agent [ID] has been disconnected from server</td> 
                        </tr> 
                        <tr>
                            <td>[+] Agent [ID] has been added on database</td> 
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="display: grid;">
    <table class="agent-table">
        <tr class="border-b">
            <th>HOSTNAME</th>
            <th>IP ADDRESS</th>
            <th>REGION</th>
            <th>OS</th>
            <th>UPTIME</th>
            <th>ACTION</th>
        </tr>
        {% for agent_id,bot in bots.items() %}
            <tr>
                <td>{{ bot.Hostname }}</td>
                <td>{{ bot.Address }}</td>
                <td>{{ bot.Region }}</td>
                <td>{{ bot.OS}}</td>
                <td>{{ bot.last_check}}</td>
                <td>
                    <a href=""><span class="nf-fa-refresh" style="font-size: 24px;"> </span></a> 
                    <a style="text-decoration: hidden;" href="{{ url_for('main.console', agent_id=agent_id) }}"><span class="nf-dev-terminal" style="font-size: 24px;"></span></a>
                </td> 
            </tr> 
        {% endfor %}  
    </table>
</div>

<script type="text/javascript">
jQuery('#vmap').vectorMap(
{
    map: 'world_en',
    backgroundColor: '#a5bfdd',
    borderColor: '#818181',
    borderOpacity: 0.25,
    borderWidth: 1,
    color: '#f4f3f0',
    enableZoom: true,
    hoverColor: '#c9dfaf',
    hoverOpacity: null,
    normalizeFunction: 'linear',
    scaleColors: ['#b6d6ff', '#005ace'],
    selectedColor: '#c9dfaf',
    selectedRegions: null,
    showTooltip: true,
    onRegionClick: function(element, code, region)
    {
        var message = 'You clicked "'
            + region
            + '" which has the code: '
            + code.toUpperCase();

        alert(message);
    }
});
</script>
{% endblock %}
