{% extends "base.html" %}

{% block title %} Shell | {{ id }} {% endblock %}

{% block contents %}
      <div class="console">
        <div id="terminal"></div>
      </div>

      <script>
        var term = new Terminal({
              cursorBlink: true,
        });
        term.open(document.getElementById('terminal'));
        term.write("[agent@{{ id }}]:~# ");
        term.onData(data => {
            if (data === '\r'){
                term.write("\r\n");

                if (data === "clear"){
                    term.clear();
                }

                else{
                    term.write("command not found\r\n");
                }
                term.write("[agent@{{ id }}]:~# ");

            }

            else if (data === '\x7f'){
                term.write('\b \b');
            }
            else{
                term.write(data);
            }
        });
      </script>
{% endblock %}
