<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.js" integrity="sha512-Gujw5GajF5is3nMoGv9X+tCMqePLL/60qvAv1LofUZTV9jK8ENbM9L+maGmOsNzuZaiuyc/fpph1KT9uR5w3CQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.css" integrity="sha512-AbNrj/oSHJaILgcdnkYm+DQ08SqVbZ8jlkJbFyyS1WDcAaXAcAfxJnCH69el7oVgTwVwyA5u5T+RdFyUykrV3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css") }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{url_for("static", filename="vector-map/jqvmap.css")}}" />
        <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.js")}}"></script>
        <script type="text/javascript" src="{{ url_for("static", filename="vector-map/jquery.vmap.js")}}"></script>
        <script type="text/javascript" src="{{ url_for("static", filename="vector-map/maps/jquery.vmap.world.js")}}" charset="utf-8"></script>
       
    </head>
    <body>
        {% include "components/dock.html" %}
        {% block contents %}{% endblock %}
    </body> 
</html>
