* {}

nav {
    display: flex;
    align-items: center;
}

nav .brand {
    display: flex;
    margin: 5px;
    align-items: center;
}

svg {
    border: 2px solid black;
    margin: 5px;
}

svg path:hover {
    fill: #ef4444;
}

.container {
    display: flex
}

.status {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status .box {
    display: flex;
    flex-direction: row;
}

.status-box {
    background-color: yellow;
    width: 250px;
    height: 100px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
}

.status-box p {
    text-align: center;
    padding: 5px;

}

.agent-table {
    text-align: center;
    width: 100%;
}
