{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block contents %}
<table class="shadow-md w-full text-center">
    <tr class="border-b">
      <th>HOSTNAME</th>
      <th>IP ADDRESS</th>
      <th>REGION</th>
      <th>OS</th>
      <th>UPTIME</th>
      <th>ACTION</th>
    </tr>
    {% for agent_id,bot in bots.items() %}
    <tr>
      <td>{{ bot.Hostname }}</td>
      <td>{{ bot.Address }}</td>
      <td>{{ bot.Region }}</td>
      <td>{{ bot.OS}}</td>
      <td>{{ bot.last_check}}</td>
      <td><button onclick=""><i class="fa-solid fa-rotate-right"></i></button><button onclick=""><i class="fa-solid fa-folder"></i></button><button class="bg-gray-100" onclick="location.href="{{ url_for('main.console', agent_id=agent_id) }}";"><i class="fa-solid fa-terminal"></i></button></th> 
    </tr>
    {% endfor %}  
</table> 
{% endblock contents %}
