@font-face {
    font-family: Adawita;
    src: url(../fonts/AdwitaFont/AdwaitaMonoNerdFontMono-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Adawita;
}

nav {
    font-size: 16px;
    background-color: #E3DCDC;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

nav a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: black;
}

nav a:hover {
    color: #8C8787;
}

nav .brand {
    display: flex;
    margin: 5px;
    align-items: center;
    gap: 5px;
}

nav .menu {
    margin: 10px;
    display: flex;
    gap: 15px;
}

.world {
    border: 1px solid black;
    margin: 5px;
}

#vmap {
    display: grid;
    height: 100%;
    width: 1000px;
}

.container {
    display: flex;
}

.status {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status .status-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    background-color: #C7C3C3;
    width: 100%;
    height: 100px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
}

.box p {
    align-items: center;
    text-align: center;
    padding: 5px;

}

.activity {
    margin: 5px;
    border: 1px solid black;
    display: grid;
    background-color: #302D2D;
}

.over {
    flex: 1;
    overflow-y: auto;
}

.table-act {
    width: 100%;
}

.table-act td {
    height: 40px;
}

.table-act thead {
    height: 50px;
    color: white;
    background-color: #3B3737;
}

.table-act tbody {
    height: 250px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

.agent-table {
    text-align: center;
    width: 100%;
    margin: 5px;
    border: 1px solid black
}
